<div class='ui secondary pointing fluid menu'>
  <h2 class='ui header'>Partners</h2>
  <div class='right menu'>
    <%= active_link_to 'List',     partners_path %>
    <%= active_link_to 'Barcodes', barcodes_partners_path %>
  </div>
</div>
