<%= render 'header' %>

<table class='ui very basic striped celled table'>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'partners/partner_row', collection: @partners, as: :partner %>
  </tbody>
</table>
