<h3>Barcode</h3>
Print this barcode and bring it with you <strong>on paper</strong>!<br />
<%= link_to raw("<span class='glyphicon glyphicon-barcode'></span> Get barcode"), get_barcode_user_path(@partner), class: "btn btn-lg btn-default" %>
