<h4>Barcode</h4>
Print this barcode and bring it with you <strong>on paper</strong>!<br />
<%= link_to get_barcode_user_path(@partner), class: "btn btn-secondary" do %>
  <i class='bi bi-upc'></i> Get barcode
<% end %>
