<h3>Billing proposal</h3>

<h4>Download</h4>
<%= link_to download_bill_user_path(@partner, format: :pdf), class: 'btn btn-lg btn-default' do %>
  <span class="bi bi-download"></span> Download Bill
<% end %>

<h4>Send bill</h4>
This will send an email with details about their bill.<br />
<%= link_to send_bill_user_path(@partner), class: 'btn btn-lg btn-default', data: { confirm: 'This will send a bill to the club. Send bill?' } do %>
  <span class="bi bi-cart4"></span> Send Bill
<% end %>
