<%= form_for object, remote: true, html: { class: 'tr' } do |f| %>
  <span class="td"><%= f.text_field :name, class: 'form-control' %></span>
  <span class="td"><%= f.email_field :email, class: 'form-control' %></span>
  <span class="td"><%= f.button button_name, class: 'btn btn-sm btn-primary' %></span>
<% end %>
