<div class='ui secondary pointing fluid menu'>
  <h2 class='ui header'>Users</h2>
  <div class='right menu'>
    <%= active_link_to 'List', users_path %>
    <%= active_link_to 'New',  new_user_path %>
  </div>
</div>
