<h3>Send Bill</h3>
This will send an email with details about their bill.<br />
<%= link_to send_bill_user_path(@partner), class: 'btn btn-lg btn-default' do %>
  <span class="glyphicon glyphicon-envelope"></span>
  Send Bill
<% end %>
