<div class="tr" id="<%= dom_id(user) %>">
  <span class="td"><%= mail_to user.email %></span>
  <span class="td">
    <div class="nowrap">
    <%= render "users/actions", user: user %>
    </div>
  </span>
</div>
