<%= turbo_frame_tag user, class: 'tr' do %>
  <span class="td"><%= user.name %></span>
  <span class="td"><%= user.email %></span>
  <span class="td">
    <%= render "users/actions", user: user %>
  </span>
<% end %>
