<tr id="<%= dom_id(user) %>">
  <td><%= link_to user.name, user_path(user)%></td>
  <td><%= mail_to user.email %></td>
  <td>
    <div class="nowrap">
    <%= render "users/actions", user: user %>
    </div>
  </td>
</tr>
