<div class="row">
  <div class="col-sm-12">
    <h3>Add Partner</h3>
    <%= render "users/form", object: User.new, button_name: "Add Partner" %>
    <h3>Manage Partners</h3>
    <%= button_to 'Excel Export', excel_users_path(format: :xlsx), class: 'btn btn-default' %>
      <div class="table-responsive">
        <table class="table table-striped" id="table-partners">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <%= render @partners %>
          </tbody>
        </table>
        <div id='partner-errors' class='form-errors'></div>
      </div>
  </div>
</div>
