<% render partial: 'shared/partners_subnav' %>

<h2><%= @partner.name %></h2>
<h3>Manage users</h3>

<span class="table">
  <span class="thead">
    <span class="tr">
      <span class="th">Name</span>
      <span class="th">Email</span>
      <span class="th">Actions</span>
    </span>
  </span>
  <span id="users" class="tbody">
    <%= render @users %>
  </span>
  <span class="tfoot">
    <%= render partial: 'new_user', locals: {object: @partner.users.build} %>
  </span>
</span>
