<%= render 'header' %>

<table class='ui very basic striped celled table'>
  <thead>
    <tr>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'users/user_row', collection: @users, as: :user %>
  </tbody>
</table>
