<div class="row">
  <div class="col-sm-12">
    <h3>Manage Partners</h3>

      <div class="table-responsive">
        <div class="table table-striped" id="table-partners">
          <div class="thead">
            <span class="th">Name</span>
            <span class="th">Email</span>
            <span class="th">Actions</span>
          </div>
          <div class="tbody">
            <%= render @partners %>
            <%= render "users/form", object: User.new, button_name: "Add Partner" %>
          </div>
        </div>
        <div id='partner-errors' class='form-errors'></div>
      </div>
  </div>
</div>
