<% content_for :subnav do %>
  <div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">
      <%= link_to "Reservations", user_reservations_path(@partner), class: "nav-link p-3" %>
      <%= link_to "Scan", scan_user_path(@partner), class: "nav-link p-3" if can? :manage, :partner %>
      <%= link_to "Order summary", summary_user_reservations_path(@partner), class: "nav-link p-3" %>
      <%= link_to "Billing", billing_user_path(@partner), class: "nav-link p-3" if can? :manage, :partner %>
    </nav>
  </div>
<% end %>

