<h3><%= model.name %> barcodes</h3>
<% model.each do |m| %>
  <div class="col-md-6">
    <h4><%= m.name %></h4>
    <%= render partial: 'barcode', locals: { data: m.barcode_data } %>
  </div>
<% end %>
