<div class="modal" id="disapprove-modal" data-controller="disapprove-modal" data-action="disapproveModalOpen@window->disapprove-modal#open disapproveModalClose@window->disapprove-modal#close" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Disapprove reservation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="disapprove-modal-body"></div>
    </div>
  </div>
</div>
