<div id="price-statistics">
  <h3>Price summary</h3>
  <table class="table table-striped table-hover table-nonfluid">
    <thead>
      <tr>
        <th></th>
        <th colspan="2" class="border-start">Reserved</th>
        <th colspan="2" class="border-start">Picked up</th>
        <th colspan="2" class="border-start">Total</th>
      </tr>
      <tr>
        <th></th>

        <th class="border-start text-end">Cost</th>
        <th class="text-end">Deposit</th>

        <th class="border-start text-end">Cost</th>
        <th class="text-end">Deposit</th>

        <th class="border-start text-end">Cost</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'reservations/statistics_row', locals: { row_colour_class: 'success', category: 'Approved', reservations: @partner.reservations.approved.joins(:item) } %>
      <%= render partial: 'reservations/statistics_row', locals: { row_colour_class: 'warning', category: 'Pending', reservations: @partner.reservations.pending.joins(:item) } %>
      <%= render partial: 'reservations/statistics_row', locals: { row_colour_class: '', category: 'Total', reservations: @partner.reservations.approved.or(@partner.reservations.pending).joins(:item) } %>
    </tbody>
  </table>
</div>
