<%= turbo_stream.replace('disapprove-modal-body') do %>
  <div id="disapprove-modal-body">
    <%= render 'disapprove_form' %>
  </div>
<% end %>

<% unless @reason_error %>
  <%= turbo_stream_action_tag(:dispatch_event, name: 'disapproveModalOpen') %>
<% end %>
