<div class="row">
  <div class="col-sm-12">
    <h3>Manage reservations</h3>
    <% if @reservations.approved.size > 0 %>
      <h4>Approved reservations</h4>
      <%= render "reservations/reservations", reservations: @reservations.approved, form: false %>
    <% end %>

    <h4>Pending reservations</h4>
    <%= render "reservations/reservations", reservations: @reservations.not_approved, form: true %>
  </div>
</div>
