<div class="row">
  <div class="col-sm-12">
    <h3>Approved reservations</h3>
    In the underlying list, a summary can be found of all the reserved approved items.

    <div class="table-responsive">
      <table class="table table-striped" id="table-items">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Price per item</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </thead>
        <tbody>
          <% @reservations.each do |item, quantity| %>
            <%= render item, quantity: quantity %>
          <% end %>
          <tr>
            <th>Totals:</th>
            <th></th>
            <th></th>
            <th><%= @total_quantity %></th>
            <th><%= number_with_precision @total_price, precision: 2 %></th>
          </tr>
        </tbody>
      </table>
    </div>
    <%= debug @blargh %>

  </div>
</div>
