<%= render 'header' %>

<% @barcodes.each do |barcode| %>
  <div class='five wide column'>
    <div class='card'>
      <div class='content'>
        <%= image_tag barcode.barcode_img.url %>
      </div>
      <div class='extra content'>
        <h3><%= barcode.name %></h3>
      </div>
    </div>
  </div>
<% end %>
