<div class="row">
  <div class="col-sm-4">
    <%= form_tag scan_path, url: scan_path, remote: false do %>
        <label>Action:</label><br />
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary btn-lg btn-action active">
            <input type="radio" name="options" id="options" value="out" checked><span class="glyphicon glyphicon-log-out"></span> Check out
          </label>
          <label class="btn btn-default btn-lg btn-action">
            <input type="radio" name="options" id="options" value="in"><span class="glyphicon glyphicon-log-in"></span> Check in
          </label>
        </div><br /><br />

        <div class="form-group">
          <label for="code">Partner code:</label>
          <input class="form-control" id="partner_code" name="partner_code" type="text">
        </div>

        <div class="form-group">
          <label for="code">Item barcode:</label>
          <input class="form-control" id="item_code" name="item_code" type="text">
        </div>

        <%= submit_tag 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
