<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>

   <body>
     <p>Sup <%= @partner.name %>,</p>

     <p>You can log in <%= link_to "here", sign_in_user_url(@partner, user_email: @partner.email, user_token: @partner.authentication_token) %>.</p>

     <p>Bai.</p>
  </body>
</html>
