<div class='ui centered grid'>
  <div class='eleven wide column sign-in-jumbotron'>
    Welcome to Saruman, an event material management service brought
    to you by <a href='http://zeus.ugent.be/' target='_blank'>Zeus WPI</a>
    and <a href='http://www.fkgent.be/' target='_blank'>FaculteitenKonvent Gent</a>.
  </div>
</div>

<div class='ui divided centered grid'>
  <div class='right floated six wide column'>
    <div class='sign-in-content'>
      <%= render 'sign_in' %>
    </div>
  </div>
  <div class='left floated six wide column'>
    <div class='sign-in-content'>
      <%= render 'partners' %>
    </div>
  </div>
</div>
