<div class='ui secondary pointing fluid menu'>
  <h2 class='ui header'>Items</h2>
  <div class='right menu'>
    <%= active_link_to 'List',     items_path %>
    <%= active_link_to 'Barcodes', barcodes_items_path %>
  </div>
</div>
