<h4><%= category.humanize %></h4>

<%= render "items/form", object: Item.new, category: category %>

<div class="table-responsive">
  <table class="table table-striped" id="table-items-<%= category %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Deposit</th>
        <th>Actions <span id="actions-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Reserved items can not be deleted. Remove the reservations first."></span></th>
      </tr>
    </thead>
    <tbody>
      <%= render items %>
    </tbody>
  </table>
</div>
