<h4><%= category.humanize %></h4>

<%= render "items/form", object: Item.new, category: category %>

<div class="table-responsive">
  <table class="table table-striped" id="table-items-<%= category %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Deposit</th>
        <th>Actions <a href="#" data-bs-toggle="tooltip" data-bs-title="Reserved items can not be deleted. Remove the reservations first."><i class="bi bi-question-circle"></i></a></th>
      </tr>
    </thead>
    <tbody>
      <%= render items %>
    </tbody>
  </table>
</div>
