<div class="row">
  <div class="col-sm-12">
    <h3>Manage items</h3>

      <div class="table-responsive">
        <table class="table table-striped" id="table-items">
          <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity <span id="quantity-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Global maximum quantity across all partners. Leave this field empty for unlimited quantity."></span></th>
            <th width="210">Actions <span id="actions-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Reserved items can not be deleted. Remove the reservations first."></span></th>
          </thead>
          <tbody>
            <%= render @items %>
            <%= render "items/form", object: Item.new, action: 'post', button_name: "Add item" %>
          </tbody>
        </table>
        <div id='item-errors' class='form-errors'>
        </div>
      </div>
  </div>
</div>
