<%= render 'header' %>

<table class='ui very basic striped celled table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'items/item_row', collection: @items, as: :item %>
  </tbody>
</table>
