body::after {
  content: "";
  background-image: url("background.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.ui.left.fixed.vertical.inverted.menu {
  padding-left: 0;
  padding-right: 0;
  @media only screen and (min-width: 992px) {
    display: block;
  }
}

.ui.main.grid {
  left: 18.75%;
  position: relative;
  width: 81.25%;
}

.ui.form .field label {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: bold;
  text-transform: none;
}

.ui.form .field_with_errors input {
  border-color: red;
}
