// Place all the styles related to the scan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.typeahead-scan {
  .typeahead-scan-name {
    float: left;
  }

  .typeahead-scan-barcode {
    color: #777;
    float: right;
  }

  .tt-highlight {
    color: #3276B1;
    text-decoration: none;
  }

  .tt-cursor {
    background-color: #eee;
  }

  .tt-suggestion {
    overflow: hidden;
  }

  .tt-menu {
    background-color: white;
  }
}

.tr span.glyphicon.glyphicon-exclamation-sign {
  display: none;
  vertical-align: text-top;
}

.tr.alert span.glyphicon.glyphicon-exclamation-sign {
  display: inline-block;
}
