<div class='ui secondary pointing fluid menu'>
  <h2 class='ui header'>Categories</h2>
  <div class='right menu'>
    <%= active_link_to 'List', categories_path   %>
    <%= active_link_to 'New',  new_category_path %>
  </div>
</div>
