<div id="flash-alerts">
  <% flash.each do |key, msg| %>
    <div class="alert <%= key_to_flash_class(key) %> alert-dismissible fade show" role="alert">
      <strong><%= key.capitalize %>!</strong> <%= msg.html_safe %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
