<% if object.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <h6 class="alert-heading">
      Uh oh! <%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.downcase %> from being saved:
    </h6>
    <p>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>
