<div class="input-group input-group" data-controller="increment-buttons">
  <button type="button" class="btn btn-primary btn-number" data-action="increment-buttons#decrement" >
    <i class="bi bi-dash-lg"></i>
  </button>
  <%= yield if block_given? %>
  <%= f.number_field field, class: "form-control input-number", data: { 'scan-reservation-target': field.to_s.camelize(:lower), 'action': "scan-reservation#updateWarnings", 'increment-buttons-target': 'valueField' } %>
  <button type="button" class="btn btn-primary btn-number" data-action="increment-buttons#increment" >
    <i class="bi bi-plus-lg"></i>
  </button>
</div>
