<% content_for :subnav do %>
  <div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">
      <%= link_to "Items", items_reports_path, class: "nav-link p-3" %>
      <%= link_to "Partners", partners_reports_path, class: "nav-link p-3" %>
      <%= link_to "Item barcodes", item_barcodes_reports_path, class: "nav-link p-3" %>
      <%= link_to "Partner barcodes", partner_barcodes_reports_path, class: "nav-link p-3" %>
    </nav>
  </div>
<% end %>
